@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
 
body{
    text-align: center;    
    background-color: #FF0000;
}

.primary {
    color: #DD000E;
}

.main_header {
	font-family: 'Amatic SC', cursive;
    font-size: 20em;
    margin: 0;
    
}

.index_list {
	list-style: none;
	font-size: 3em;
	color: #FFFFFF;
}





	