{% extends "layout.html" %}
{% block body %}


<h1 class="main_header primary">MONEY CREATES TASTE</h1>
<h1 class="main_header primary">8==></h1>

<p>There are some things I need to tell you. 11 of them.</p>

<ul>
	<li class="primary index_list">1. <a href="/">There is a secret underground fortress run by bear/man hybrids under the Golden Gate bridge.</a></li>
	<li class="primary index_list">2. <a href="/">I know that people exist but I can't help but just think of them in terms of ice cream flavors.</a></li>
	<li class="primary index_list">3. <a href="/">We have abandoned reason and entropy is appalled at the selfish destruction we cause.</a></li>
	<li class="primary index_list">4. <a href="/">The other day one of those maple leaf helicopters landed on me and I could only think about how it would never be a tree. </a></li>
	<li class="primary index_list">6. <a href="/">How many cows did this cheese come from?</a></li>
	<li class="primary index_list">6. <a href="/">There are five ways to skin a cat.</a></li>
	<li class="primary index_list">6. <a href="/">The inevitability of death is not something we need to be at peace with,</a></li>
</ul>

{% endblock %}